form{
    background-color: white;
    color: green;
    width: 700px;
    height: 500px;
    border: none;
    border-radius: 2% 2% 2% 2%;
    margin-top: 10px;
    margin-left: 1%;
}

label,input,select,#matt{
    width: 300px !important;
    border: none;
    border: solid 1px rgb(154, 176, 204);
    border-radius: 10px;
    padding: 2px 0 5px 5px;
    margin-left: 20px;
}

button{
    margin-top: 30px;
    color: white;
    background: #2d2d30;
    border-radius: 0.5rem;
    border: none;
    width: 140px;
    height: 40px;
    margin-left: 40%;
    font-weight: bold;
    margin-bottom: 20px;
}