<mat-toolbar>
    <span>Ništagram</span>
    <p></p>
    <div>
        
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon (click)="onClickedVerify()">check</mat-icon>
        </button>
    </div>
  </mat-toolbar>

  <app-verification-list *ngIf="verify == true"></app-verification-list>
  

  