<table class='table table-sm' aria-labelledby="tableLabel" style="border:1px solid">  
    <b> Timeline</b>
      <div class= "postClass" *ngFor="let post of posts">
        <p  class= "username">{{post.user.username}}</p>
        <img src={{post.imagePath}} alt=""/>
        <p> Description: </p>
        <p >{{post.description}}</p>
     </div>
  </table> 