form{
    width: 300px;
    height: 300px;
    margin-left: 50px;
}

button {
    margin-bottom: 2rem;
    color: white;

    background: #3f51b5;
    border-radius: 0.5rem;
    border: none;
    width: 240px;
    height: 40px;
    font-weight: bold;
    
}

mat-select{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 0.5rem;
    padding: 2px 0 5px 5px;
    border-width: 0ch;
    margin-top: 50px;
}

input{
    margin: 50px 0px 50px 0px;
}