<table class='table table-sm' aria-labelledby="tableLabel" style="border:1px solid">  
    <b>{{name}}</b>
      <div class= "postClass" *ngFor="let post of posts">
        
        <img src={{post.imagePath}} alt=""/>
        <p> Description: </p>
        <p >{{post.description}}</p>
     </div>
  </table> 
